.swiper-container{
    width: 100%;
    height: 250px;
    overflow: auto;
    
}
.swiper-container{
    width: 100%;
    height: 250px;
}
.swiper-slide{
    width: 100%;
    height: 100%;
    line-height: 250px;
    text-align: center;
    background: red;
}